.posts {}
.post {
  .post-meta {
    margin-bottom: 5px;

    h6 {
      .post-meta-divider { color: $grey_third; }
    }
  }

  .article-tags {
    display: block;
    margin: 30px 0;
    font-size: 1.1rem;
    color: $color1;
    font-weight: 400;
    text-transform: uppercase;
    a {
      color: $color3;
    }
  }
  .post-author {
    font-size: 1.2rem;
    color: #767676;
    font-weight: 400;
    text-transform: uppercase;
    margin: 10px 0 35px;
    em {
      text-transform: none;
      color: #545353;
    }
    a {

      font-weight: 600;
    }
  }

  .post-gallery {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    @extend .cf;
    img {
      width: 100%;

      @extend .transition;
    }
    // Pinterest & image combinations
    > .hp-share-icon {
      position: absolute;
      top: 2.6%;
      left: 2%;

      > .circle-icon {
        margin: 0;
      }

      @media only screen and (max-width: $break-small) {
        display: none;
      }
    }
    &>a {
      display: block;
    }
    .gallery-link {
      position: absolute;
      top: 80px;
      right: 0;
      background: $color3;
      color: #fff;
    }
  }
  .post-content {
    float: none;
    position: relative;
    .post-content-body {
      a { @extend .secondary; }
    }
  }
  .post-title {
    margin-bottom: 10px;
  }
  .featured-title {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    text-align: center;

    .post-meta {
      text-transform: uppercase;
      margin-bottom: 5px;
    }

  }
  &.sticky {
    .post-title a {
      text-decoration: underline;
    }
  }
  &.mega-menu-post {
    .post-meta { h6 { font-size: 1.0rem; } }
  }

  // Feed posts
  &.style-hp-feature {
    text-align: center;
    margin-bottom: 0px !important;
    figure {
      // Make sure the featured image doesn't take up too much real estate
      margin-bottom: 0px;
      max-height: 420px;

      img { max-width: 1024px; }
    }

    .style-hp-feature-container {
      display: inline-block;
      background-color: #fff;
      padding: 20px 50px;
      position: relative;
      margin: -58px 0px 0px 0px;
      max-width: 550px;

      .post-meta,
      .post-author {
        display: inline-block;
        margin: 0 0 10px;
      }
      .post-gallery {
        margin: 0 0 25px;
      }
      .post-title.entry-header {
        margin-bottom: 0px;
      }
      .post-content p {
        color: #545353;
        margin: 0;
      }
      .post-links {
        margin-top: 20px;
      }

      @media only screen and (max-width: $break-small) {
        margin-top: 0;
        padding: 25px 0px 25px 0px;
      }
    }
  }
  &.style-hp-list {
    padding-bottom: 29px;
    border-bottom: 1px solid $color4;
    margin-bottom: 30px;
    .summary {
      vertical-align: top;
      padding-top: 4%;
      .post-meta,
      .post-author {
        display: inline-block;
      }

      @media only screen and (max-width: $break-small) {
        padding-top: 0px;
      }
    }
    .post-gallery {
      margin-bottom: 25px;

      @media only screen and (min-width: $break-small) {
        margin-bottom: 0;
      }
    }
    &:last-of-type {
      border: 0;
      margin: 0;
      padding: 0;
    }
  }
  &.style-hp-multi-cat-sq, &.style-hp-single-cat-sq {
    overflow: hidden;  // In order to allow for uniform heights

    .summary {
      margin-top: 0px;

      .post-content p {
        @extend .small;
        margin-bottom: 0px;
      }
    }

    @media only screen and (min-width: $break-medium) {
      height: 150px;
    }
  }

  .post-content-container {
    padding-left: 0;
    min-height: 220px;
    @media only screen and (min-width: $break-small) {
      // padding-left: 100px;
    }
    & + .share-article {
      width: auto;
      max-width: 100%;
      margin: 0 0 50px;
      float: none;
      text-align: center;
    }
  }
  .post-header {
    height: 300px;
    background: $color1;
  }
  .header_content {
    margin-top: 30px;
  }
}

.related-posts-container {
  padding: 40px 0;

  background-color: $grey_sixth;

  @media only screen and (min-width: $break-small) {
    padding: 60px 0;
  }

  h5 {
    margin-bottom: 10px;

    text-align: center;

    @media only screen and (min-width: $break-small) {
      margin-bottom: 25px;
    }
  }

  .post {
    margin-top: 20px;

    @media only screen and (min-width: $break-small) {
      margin-top: 0;
      padding: 0 6px;
    }

    .post-meta {
      margin-top: 0px;

      @media only screen and (min-width: $break-small) {
        margin-top: 15px;
      }

      .post-meta-divider,
      .post-meta-location {
        display: none;

        @media only screen and (min-width: $break-small) {
          display: inline;
        }
      }
    }

    .post-title {
      margin: 6px 0 0px 0;

      p { font-size: 1.8rem; }
    }
  }
}

#article-wrapper {
  position: relative;

  .post-detail-row {
    @media only screen and (min-width: $break-small) {
      > .row {
        position: relative;
        overflow: hidden;
        width: 100%;

        > * {
          padding-top: 30px;
        }
      }
    }

    @media only screen and (min-width: $break-large) {
      // Make sidebar & body content columns content equal height
      > .row > .sidebar {
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
      }
    }
  }
}

.attachment-page {
  padding-top: 30px;

  .post-detail.attachment {
    .notification {
      margin-bottom: 15px;
      text-align: center;

      p + p { margin: 0; }
    }

    .post-gallery {
      margin: 0 0 30px;
    }
  }
}

.thb-loading:after {
  content: '';
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -16px;
  background: #fff url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSIjMjIyMjIyIj4KICA8cGF0aCBvcGFjaXR5PSIuMjUiIGQ9Ik0xNiAwIEExNiAxNiAwIDAgMCAxNiAzMiBBMTYgMTYgMCAwIDAgMTYgMCBNMTYgNCBBMTIgMTIgMCAwIDEgMTYgMjggQTEyIDEyIDAgMCAxIDE2IDQiLz4KICA8cGF0aCBkPSJNMTYgMCBBMTYgMTYgMCAwIDEgMzIgMTYgTDI4IDE2IEExMiAxMiAwIDAgMCAxNiA0eiI+CiAgICA8YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIHR5cGU9InJvdGF0ZSIgZnJvbT0iMCAxNiAxNiIgdG89IjM2MCAxNiAxNiIgZHVyPSIwLjhzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgLz4KICA8L3BhdGg+Cjwvc3ZnPgo=') center center no-repeat;
}
/* Non VC Page */
.non-VC-page {
  padding: 60px 0;
  .post .post-title {
    margin-bottom: 20px;
  }
}
