#page-template {

    margin-right: 2.5%;
    width: 75%;
    margin-left: 13%;

    @media (min-width: 768px) {	

    	margin-left: auto;
    	margin-right: auto;
    	margin-top: 30px;
    	margin-bottom: 50px;
    	max-width: 960px;
    }

	h2, .page-title {
		
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 20px;
		padding-bottom: 20px;
		text-align: center;
	}

	h3 {

		margin: 0 0 20px;
		font-family: "avenir-next-demi-bold", Helvetica, Arial, sans-serif;
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 20px;
		text-transform: uppercase;
	}

	h4 {

		margin-bottom: 20px;
	}

	p {

		margin: 0 0 20px;
	}

	ul {

		padding: 20px;

		li 

			&:last-child {

				padding-bottom: 0;
			}

			ul, ol {

				padding-bottom: 0;
			}
	}

	li {

		margin: 0 0 20px;
	}
}

