.header_container {
	min-height: 40px;
	@extend .linear-quick-transition;
}

.hp-header {
	*,
	*:before,
	*:after {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}

	background-color: $white;
	line-height: 1.2;
	position: relative;
	width: 100%;

	.hp-header__main {
		margin: 0 auto;
		width: 100%;

		&:before,
		&:after {
			content: " ";
			display: table;
		}

		&:after {
			clear: both;
		}
	}

  .hp-header__auth {
    display: none;
    position: absolute;
    top: 0;
    padding: 25px;
    right: 0;

    @media only screen and (min-width: $break-medium) {
      display: block;
    }

    .dashboard-link,
    .auth-link {
      display: inline-block;
      font-family: $sans-font-family-medium;
      font-size: 1.2rem;
      line-height: 2.0rem;
      vertical-align: middle;
    }

    .dashboard-link { padding-right: 10px; }

    input:hover { color: $accent; }
  }

  .hp-header__main {
    max-width: 1100px;
    padding: 20px;
    position: relative;

    @media only screen and (min-width: $break-medium) {
      height: 90px;
      padding: 0;
    }

    .mobile-nav-menu-toggle-container {
      @include translate-y(-50%);

      height: 16px;
      top: 50%;
      position: absolute;

      @media only screen and (min-width: $break-medium) {
        display: none;
      }
    }

    .hp-header__logo {
      -webkit-transition: left .5s ease;
      transition: left .5s ease;

      margin: 0 auto;
      max-width: 350px;
      text-align: center;

      @media only screen and (min-width: $break-medium) {
        left: 3.5rem;
        margin: 0;
        position: absolute;
        padding-top: 32px;

        .hp-header__logo__image { float: left; }
      }

      @media only screen and (min-width: 1100px) {
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;

        .hp-header__logo__image { float: none; }
      }

      .hp-header__logo__image {
        -webkit-transition: float .5s ease;
        transition: float .5s ease;
        white-space: nowrap;
      }

      a {
        color: $black;

        &:hover,
        &:focus,
        &:active,
        &:visited {
          text-decoration: none;
          color: $black;
        }

        img {
          display: inline-block;
          max-width: 260px;
          width: 72%;
          vertical-align: middle;

          @media only screen and (min-width: $break-medium) {
            max-width: 320px;
            width: 100%;
          }
        }

        h6 {
          display: none;
          font-size: 1.1rem;
          letter-spacing: 0.15rem;
          margin-top: 15px;

          @media only screen and (min-width: $break-medium) {
            display: block;
          }
        }
      }
	  }
	}

	.hp-header__divider {
	  width: 100%;

	  display: none;
	  height: 0px;
	  border-bottom: 1px solid $grey_fifth;

		@media only screen and (min-width: $break-medium) {
	    display: block;
	  }
	}
}

// Overrides
.hp-header {
	background: $white;
	z-index: 101;

	.hp-header__main {
    .mobile-nav-menu-toggle:focus { outline: none; }

		.v1-icon-search {
			position: absolute;
			top: 18px;
			right: 10px;

			@media only screen and (min-width: $break-medium) {
				display: none;
			}

			color: $grey-second;

			&:before { font-size: 22px; }

			&.active { color: $black; }
		}
	}

  .hp-header__auth {
    .logged-in,
    .logged-out {
      display: inline-block;
      vertical-align: middle;
      display: none; // Hidden initially, shown by JS
    }
  }

  &.fixed {
    position: static;
    top: 0;
    left: 0;
    right: 0;
    @extend .admin-style;
    @media only screen and (min-width: $break-medium) {
      position: fixed;
    }
    .logo .logoimg {
      max-height: 40px;
    }
    .header_top {
      .progress {
        display: block;
        position: absolute;
        bottom: -2px;
        left: -15px;
        height: 2px;
        width: 0;
        background: $color3;

        @include transition(all .5s linear);
      }
      &>.row>.columns {
        @media only screen and (min-width: $break-medium) {
         height: 40px;
        }
      }
    }
  }
}

/*------------------------------------------------------------------
Full Menu
*/
#full-menu {
	$nav-height: 75px;

	display: none;
	vertical-align: middle;
	position: relative;
	height: $nav-height;

	@media only screen and (min-width: $break-medium) {
		display: block;
	}

	> #full-menu-links,
	> .row,
	> .row > #full-menu-search {
		height: 100%;
	}

	#full-menu-links {
		position: absolute;
		top: 0;
		left: 0;
		// hide menu links until checked for changes based on isLoggedIn by hmpl-auth.js
		display: none;

		> * {
			display: block;
			float: left;
		}

		.v1-icon-logo,
		.full-menu > li > h6 {
			margin-left: 30px;
		}

		.v1-icon-logo {
			display: block;
			padding-top: 15px;
			padding-bottom: 15px;

			&:before {
				margin: 0;

				font-size: 4.5rem;
			}
		}

		.full-menu > li > h6 {
			height: $nav-height;
			line-height: $nav-height;
		}

		a { // IE weirdness
			text-decoration: none;

			&:hover,
			&:focus,
			&:active,
			&:visited {
				text-decoration: none;
			}
		}


		#full-menu-links-auth {
			padding: 17px 0 17px 30px;

			visibility: hidden; // Visibility controlled by JS
			opacity: 0;

			.logged-in,
			.logged-out {
				display: none; // Visibility controlled by hmpl-auth.js
				float: left;
				border-left: 1px solid $grey_fifth;

				> * {
					display: inline-block;
					padding-left: 30px;
					height: 41px;
					line-height: 41px;
					vertical-align: middle;

					> * { height: 100%; }
				}
			}
		}
	}

	#full-menu-search {
		float: right;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 0;

		text-align: right;
	}

	.full-menu {
		list-style: none;
		margin: 0;
		a {
			white-space: nowrap;
		}
		&>li {
			margin: 0;
			padding: 0;
			display: inline-block;

			&.active>a,
			&.sfHover>a {
				color: $accent;

				&:after {
					@include scale(1,1);
				}
			}

			&>a {
				&:hover {
					// color: $accent;
				}
				&:after {
					content: '';
					display: block;
					position: absolute;
					height: 1px;
					width: 100%;
					background: $color3;
					bottom: 35px;
					left: 0;
					@include scale(0,1);
					@extend .transition;

				}
			}
			&.menu-item-has-children {
				position: relative;

				&.menu-item-mega-parent {
					position: static;
					&>h6 { /* The parent header item */
						position: relative;
						margin: 0px inherit 0px inherit;
						line-height: 45px;
						&.active { @include triangle-drop(8, $grey_fifth); }
					}

					.thb_mega_menu_holder {
						display: none;
						position: absolute;
						top: $nav-height + 1px; /* Extra pixel down is so border will appear */
						left: 0;
						width: 100%;
						background: #fff;
						z-index: 20;
						opacity: 0;
						min-height: 313px;
						&>.row {
							width: 100%;
							margin-left: auto;
							margin-right: auto;
							margin-top: 0;
							margin-bottom: 0;
							max-width: 120em;
						}
						&.service {
							width: 240px !important;

							// Account for logo
							.thb_mega_menu { padding-left: 20px; }

							.category-children { display: none; }
						}

						.thb_mega_menu {
							float: left;
							width: 200px;
							text-align: center;
							padding-top: 25px;
							aside.style-full-width-header {
								width: 15%;
								margin-bottom: 15px;
								margin-top: 15px;
								border-bottom-color: $grey_third;
							}

							@extend .reset;
							li {
								@extend .reset;
								display: block;
								margin-bottom: 15px;
								&.active a,
								&.active a .fa {
									color: $accent;
								}
							}
						}
						.category-children {
							margin-left: 240px;
							padding: 30px 0px 30px 3%;
							border-left: 1px solid $grey_fifth;
							&>div {
								display: none;
								float: left;
								text-align: left;
								width: 100%;
								@extend .endcolumn;
								&:first-child {
									display: block;
								}

								a { white-space: normal; }
								.post-gallery { margin-bottom: 15px; }
							}
						}
					}
				}
			}
		}
	}
}

/*------------------------------------------------------------------
Quick Search
*/

#mobile-quick-search-container {
	position: relative;
	vertical-align: middle;
	text-align: center;

	@media only screen and (min-width: $break-medium) {
		display: none;
	}
}

#quick_search,
#mobile-quick-search {
	position: relative;
	z-index: 20;
	font-size: 26px;
	vertical-align: middle;

	.v1-icon-search, .v1-icon-loading {
		z-index: 20;
		cursor: pointer;
		position: absolute;
		top: 8px;
		right: 60px;
		color: $grey_first;
	}
	.searchform {
		display: inline-block;
		z-index: 10;
		background: $grey_sixth;
		height: 100%;
		width: 100%;

		@media only screen and (min-width: $break-medium) {
			/* right: -20px; */
		}

		fieldset { height: 100%; }

		input {
			@extend .small;
			height: 100%;
			width: 100%;
			background: transparent;
			border: 0;
		}

	}

	[class^="v1-icon"] {
		position: absolute;
		color: $grey_first;
	}
}

#quick_search {
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align: right;

	[class^="v1-icon"] {
		top: 8px;
		right: 8px;
		cursor: pointer;
	}
}

#mobile-quick-search {
	display: none;
	height: 0;
	position: absolute;
	top: 0;
	width: 100%;
	background-color: $white;
	border-top: 2px solid $grey_fourth;
	border-bottom: 1px solid $grey_fourth;

	.searchform {
		padding: 12px 5px;

		@include placeholder-color($grey_first);

		input {
			display: block;
		}
	}

	[class^="v1-icon"] {
		display: none;
		top: 6px;
		right: 20px;
		color: $black;

		&:before {
			font-size: 22px;
		}
	}
}
