.hp-header {
  // Adapted/stolen from https://codepen.io/designcouch/pen/Atyop
  .mobile-nav-menu-toggle {
    $bar-thickness: 2px;
    $bar-padding: 3px;
    $button-height: ($bar-thickness * 3) + ($bar-padding * 2);
    $transition-speed: 0.5s;
    $transition-timing-function: ease-in-out;

    cursor: pointer;
    height: $button-height;
    position: relative;
    width: 20px;

    // No blue background on tap
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    .toggle-bar {
      @include transition(all ($transition-speed / 2) $transition-timing-function);

      background: $grey-second;
      border-radius: $bar-thickness;
      display: block;
      height: $bar-thickness;
      left: 0;
      position: absolute;
      width: 100%;
    }

    .toggle-bar:nth-child(1) { top: 0px; }

    .toggle-bar:nth-child(2),
    .toggle-bar:nth-child(3) {
      top: ($button-height - $bar-thickness) / 2;
    }

    .toggle-bar:nth-child(4) { top: $button-height - $bar-thickness; }

    // active state, i.e. menu open
    &.mobile-nav-menu-open {
      .toggle-bar:nth-child(1),
      .toggle-bar:nth-child(4) {
        left: 50%;
        top: ($button-height - $bar-thickness) / 2;
        width: 0%;
      }

      .toggle-bar:nth-child(2) {
        @include transform(rotate(45deg));
      }

      .toggle-bar:nth-child(3) {
        @include transform(rotate(-45deg));
      }
    }
  }
}

// Overrides

.hp-header {
  .mobile-nav-menu-toggle {
    background: none;
    border: none;
  }
}
