/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'hp-icons';
    src: url('../font/hp-icons.svg?8198389#hp-icons') format('svg');
  }
}
*/
 
  [class^="v1-icon-"], [class*=" v1-icon-"] {
    &.size-x1 { font-size: 16px; }
    &.size-x2 { font-size: 32px; }
    &.size-x3 { font-size: 48px; }

    &:before, &:before {
    font-family: "hp-icons-v1";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }
  }

@include keyframes(spin) {
  0%   { @include rotate(0); }
  100% { @include rotate(359deg); }
}

.v1-icon-loading:before {
  content: '\e900';

  @include animation(spin 2s infinite linear);
} /* '' */
.v1-icon-caret-left:before {
    content: '\e902';
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.v1-icon-question:before { content: '\e901'; } /* '' */
.v1-icon-caret-right:before { content: '\e902'; } /* '' */
.v1-icon-caret-down:before { content: '\e903'; } /* '' */
.v1-icon-close:before { content: '\e904'; } /* '' */
.v1-icon-add:before { content: '\e905'; } /* '' */
.v1-icon-logo:before { content: '\e906'; } /* '' */
.v1-icon-logo-banner:before { content: '\e907'; } /* '' */
.v1-icon-search:before { content: '\e908'; } /* '' */
.v1-icon-shopping-cart:before { content: '\e909'; } /* '' */
.v1-icon-package-icon-shortsweet:before { content: '\e910'; } /* '' */
.v1-icon-package-icon-theworks:before { content: '\e911'; } /* '' */
.v1-icon-package-icon-shortsweet-recd:before { content: '\e912'; } /* '' */
.v1-icon-package-icon-theworks-recd:before { content: '\e913'; } /* '' */
.v1-icon-package-icon-theworks-virtual:before { content: '\e914'; } /* '' */
.v1-icon-package-icon-shortsweet-virtual:before { content: '\e915'; } /* '' */
.v1-icon-pencil-ruler:before { content: '\e916'; } /* '' */
.v1-icon-price-tag:before { content: '\e917'; } /* '' */
.v1-icon-config:before { content: '\e918'; } /* '' */
.v1-icon-bank:before { content: '\e919'; } /* '' */
.v1-icon-circle-check:before { content: '\e920'; } /* '' */
.v1-icon-print:before { content: '\e921'; } /* '' */
.v1-icon-exclamation-mark:before { content: '\e922'; } /* '' */
.v1-icon-quotes:before { content: '\e923'; } /* '' */
.v1-icon-gallery:before { content: '\e924'; } /* '' */
.v1-icon-how-we-work-handshake:before { content: '\e925'; } /* '' */
.v1-icon-how-we-work-pencil:before { content: '\e926'; } /* '' */
.v1-icon-how-we-work-clock:before { content: '\e927'; } /* '' */
.v1-icon-twitter:before { content: '\e928'; } /* '' */
.v1-icon-facebook:before { content: '\e929'; } /* '' */
.v1-icon-pinterest:before { content: '\e930'; } /* '' */
.v1-icon-tumblr:before { content: '\e931'; } /* '' */
.v1-icon-instagram:before { content: '\e932'; } /* '' */
.v1-icon-check:before { content: '\e933'; } /* '' */
.v1-icon-email:before { content: '\e934'; } /* '' */
.v1-icon-email-dark:before { content: '\e935'; } /* '' */