.mobile-nav-menu,
.mobile-nav-buttons {
  $buttons-height: 46px;

  @include transition(transform 0.5s);
  @include translate-x(-100%);

  left: 0;
  position: fixed;
  right: 0;
  z-index: 2;

  &.mobile-nav-menu-open {
    @include translate-x(0);
  }

  &.mobile-nav-menu { bottom: $buttons-height; }

  &.mobile-nav-buttons {
    bottom: 0;

    .mobile-nav-button { height: $buttons-height; }

    .scroll-shadow { bottom: $buttons-height; }
  }
}

.mobile-nav-menu {
  // NB: top is managed by JS - accounts for height of header.
  // It's messy, but avoids having to muck around w/ lots of z-index management
  background-color: $white;
  opacity: 0.99;
  overflow-y: scroll;

  .menu-content,
  .nav-links,
  .other-links {
    @include display-flex;
    @include flex-direction(column);
  }

  .menu-content { min-height: 100%; }

  .nav-links,
  .other-links {
    @include align-items(center);
    @include justify-content(flex-start);
  }

  .nav-links {
    background-color: $white;
    padding-bottom: 20px;
  }

  .nav-link,
  .other-link {
    margin-top: 10px;
    padding: 10px 10px;
  }

  .other-links {
    @include flex(1);

    background-color: $grey-fifth;
    padding: 14px 0 20px 0;
  }
}

.mobile-nav-buttons {
  @include display-flex;
  @include flex-direction(row);

  .scroll-shadow {
    // rgb(229, 229, 229) = $grey-fifth;
    @include background-image(radial-gradient(
      65% 75% at bottom center,
      rgba(229, 229, 229, 1),
      rgba(229, 229, 229, 0.95) 50%,
      rgba(229, 229, 229, 0)
    ));

    content: '';
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
  }

  .mobile-nav-button {
    @include flex(1);

    @extend %btn-primary;

    border: none;
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: $break-medium) {
  .mobile-nav-menu,
  .mobile-nav-buttons {
    display: none;
  }
}

// Overrides

.mobile-nav-menu,
.mobile-nav-buttons {
  z-index: 16; // Ugh
}

.mobile-nav-menu.with-nav-tabs.with-single-story,
.mobile-nav-buttons.with-nav-tabs.with-single-story {
  $buttons-height: 75px;

  &.mobile-nav-menu { bottom: $buttons-height; }

  &.mobile-nav-buttons {
    .mobile-nav-button { height: $buttons-height; }

    .scroll-shadow { bottom: $buttons-height; }
  }
}

.mobile-nav-buttons {
  [data-logged-in] {
    // Visibility controlled by JS
    display: none;
  }
}
