$serifFontFamily: "sabon-next", "Times New Roman", Times, serif;
$serifFontFamilyItalic: "sabon-next-italic", "Times New Roman", Times, serif;
$serifFontFamilyBold: "sabon-next-bold", "Times New Roman", Times, serif;

$millerDisplayFontFamily: "miller-display", "Times New Roman", Times, serif;

$sansFontFamily: "avenir-next-demi-bold", Helvetica, Arial, sans-serif;
$sansFontFamilyMedium: "avenir-next-medium", Helvetica, Arial, sans-serif;
