%btn {
  cursor: pointer;
  font-family: $sans-font-family-demi;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: none;
}

%btn-disabled {
  @extend %btn;

  cursor: default;

  &:not(.disabled-retain-styling){
    background-color: $grey-fourth;
    color: $white;
    cursor: not-allowed;

    &:hover {
      background-color: $grey-fourth;
      color: $white;
    }
  }
}

%btn-loading {
  @extend %btn;

  background-color: $grey-third;
  color: $white;
}

%btn-primary {
  @extend %btn;

  background-color: $black;
  border: 2px solid $black;
  color: $white;

  &:hover:not(.disabled-retain-styling){
    background-color: $accent;
    border-color: $accent;
  }

  &:disabled {
    @extend %btn-disabled;
  }
}

%btn-secondary {
  @extend %btn;

  background-color: $white;
  border: 2px solid $black;
  color: $black;

  &:hover:not(.disabled-retain-styling){
    color: $accent;
    border-color: $accent;
  }

  &:disabled {
    @extend %btn-disabled;
  }
}
