html {
  font-size: 62.5%;  // base font size, all other text should use rem
}

body {
  color: $black;
  font-family: $serif-font-family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea {
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: $miller-display-font-family;
}

p,
a,
span,
small,
input,
textarea {
  &.italic { font-family: $serif-font-family-italic; }

  &.bold {
    // Lightens the bold effect
    -webkit-font-smoothing: auto;
    font-weight: bold;
  }
}

label,
h5,
h6 {
  font-family: $sans-font-family-demi;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

input,
textarea {
  font-family: $sans-font-family-medium;
}

h1 {
  font-size: 3.4rem;
  line-height: 4.0rem;
}

h2 {
  font-size: 3.0rem;
  line-height: 3.6rem;
}

h3 {
  font-size: 2.6rem;
  line-height: 3.1rem;
}

h4 {
  font-size: 2.2rem;
  line-height: 3.0rem;
}

h5 {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 2.0rem;
}

h6 {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
}

p {
  font-size: 1.8rem;
  line-height: 2.5rem;
}

small,
.small {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.extra-small {
  font-size: 1.4rem;
  line-height: 2.1rem;
}
