.our-mission__body {
  width: 50%; }

@media only screen and (min-width: 768px) {
  .landing-pages--about-us .why-homepolish {
    margin: 0; } }
.our-promise {
  padding: 0; }
  @media only screen and (min-width: 768px) {
    .our-promise div {
      width: 50%; }
      .our-promise div:first-child {
        padding: 0 25px 0 0; }
      .our-promise div:last-child {
        padding: 0 0 0 25px; } }

.ctas {
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .ctas .formatted-copy--mobile-tablet {
      display: inline-block;
      width: 50%; } }

@media only screen and (max-width: 767px) {
  .targeted-page-show .seo-text .seo-text-body {
    font-size: 1.75rem;
    line-height: 2.25rem; } }
.targeted-page-show .list-section li {
  text-align: left; }

.center-text .formatted-copy--desktop {
  width: 80%; }
  @media (min-width: 768px) {
    .center-text .formatted-copy--desktop {
      max-width: 1080px; } }

.landing-pages--concierge .partners-header {
  width: 75%; }
  .landing-pages--concierge .partners-header .formatted-copy--mobile {
    display: inline-block;
    width: 50%; }
.landing-pages--concierge .about-us .item-body {
  width: 75%;
  display: inline-block; }
  @media only screen and (min-width: 768px) {
    .landing-pages--concierge .about-us .item-body {
      width: 100%; } }

.about-blurb__content {
  width: 75%; }

/*

.bottom-links-partial-container {

	ul {

		li {

			display: inline-block;
			float: left;
			margin: 0;	
			//padding: 0;
		}
	}
}

*/
#page-template {
  margin-right: 2.5%;
  width: 75%;
  margin-left: 13%; }
  @media (min-width: 768px) {
    #page-template {
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      margin-bottom: 50px;
      max-width: 960px; } }
  #page-template h2, #page-template .page-title {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center; }
  #page-template h3 {
    margin: 0 0 20px; }
  #page-template p {
    margin: 0 0 20px; }
  #page-template ul {
    padding-top: 20px; }
  #page-template li {
    margin: 0 0 20px; }

.hero.video-hero {
  display: table;
  position: relative;
  overflow: hidden;
  height: 375px;
  max-height: 1080px;
  width: 100%;
  padding: 0 !important;
  margin: 0 0 100px 0 !important; }
  @media only screen and (min-width: 768px) {
    .hero.video-hero {
      height: 56.25vw;
      margin-bottom: 150px !important; } }
  .hero.video-hero > img, .hero.video-hero picture img, .hero.video-hero video {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    max-width: 177.77778vh;
    max-height: 56.25vw; }
  .hero.video-hero img {
    transition: opacity 0.6s cubic-bezier(0.39, 0.575, 0.565, 1); }
  .hero.video-hero video {
    display: none; }
    @media only screen and (min-width: 768px) {
      .hero.video-hero video {
        display: block;
        opacity: 0;
        transition: opacity .4s; }
        .hero.video-hero video.is-playing {
          opacity: 1; } }
  .hero.video-hero .hero-content-container {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 0; }
  .landing-pages--homepage .hero.video-hero .hero__tagline {
    font-size: 3em;
    text-align: center;
    top: auto;
    margin-bottom: 25px;
    position: relative;
    white-space: normal;
    padding: 0 5% 0 5%; }
    @media only screen and (min-width: 1024px) {
      .landing-pages--homepage .hero.video-hero .hero__tagline {
        display: block !important;
        font-size: 4em;
        margin-bottom: 50px; } }
  .hero.video-hero .hero__signup {
    background-color: transparent !important;
    padding: 0; }
    .hero.video-hero .hero__signup .signup-subheader {
      color: white; }
    .hero.video-hero .hero__signup .existing-account-link {
      color: white; }
      .hero.video-hero .hero__signup .existing-account-link a {
        color: white;
        text-decoration: underline; }
    .hero.video-hero .hero__signup .book-now-signup .form-field {
      border-bottom: none;
      padding-left: 30px; }
    .hero.video-hero .hero__signup .v1-icon-caret-right {
      color: white; }

.transparent {
  display: none; }

.hp-header--transparent .transparent {
  display: block; }
.hp-header--transparent .opaque {
  display: none; }
.hp-header--transparent nav.top-bar.expanded h1 {
  margin-left: 20px; }
.hp-header--transparent nav.top-bar.expanded .opaque {
  display: block; }

/* Hamburger */
.top-bar .toggle-topbar.menu-icon a span::after {
  box-shadow: 0 0 0 1px #ccc, 0 7px 0 1px #ccc, 0 14px 0 1px #ccc; }

/* 
	@media (min-width: 768px) {

		a {
			width: 75%;
		}
	}
*/

/*# sourceMappingURL=styles.css.map */
