.hero {
    
    position: relative;
    overflow: hidden;
    height: 56.25vw;
    max-height: 1080px;

    > img, picture img, video {

        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        min-width: 100%;
        min-height: 100%;
        max-width: 177.77778vh;
        max-height: 56.25vw;
    }

    video {
        
        opacity: 0;
        transition: opacity .4s;

        &.is-playing {

            opacity: 1;
        }
    }

    .landing-pages--homepage & {

        padding-top: 250px;

        .hero__tagline {

            font-size: 4em;
        }
    }

    .hero__signup {

        background-color: transparent !important;
        position: relative;
        z-index: 1;

        .signup-subheader {

            color: white;
        }

        .existing-account-link a {

            color: white;
        }

        .book-now-signup .form-field {

            border-bottom: none;
            padding-left: 30px;
        }

    }
}

@media only screen and (min-width: 1024px) {


}