.hero {
    
    position: relative;
    overflow: hidden;
    height: 375px;
    max-height: 1080px;

        @media only screen and (min-width: 768px) {

            height: 56.25vw;

        }

    > img, picture img, video {

        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        min-width: 100%;
        min-height: 100%;
        max-width: 177.77778vh;
        max-height: 56.25vw;
    }

    img {

        transition: opacity .6s cubic-bezier(.39,.575,.565,1);
    }

    video {

        display: none;

        @media only screen and (min-width: 768px) {

            display: block;
            opacity: 0;
            transition: opacity .4s;

            &.is-playing {

                opacity: 1;
            }
        }
    }

    .landing-pages--homepage & {

        padding-top: 150px;

        @media only screen and (min-width: 768px) {

            padding-top: 225px;

        }

         @media only screen and (min-width: 1024px) {

            padding-top: 250px;

        }

        .hero__tagline {

            font-size: 3em;
            white-space: normal;
            width: 90%;

            @media only screen and (min-width: 768px) {

                display: block !important;
                font-size: 4em;
            }
        }
    }

    .hero__signup {

        position: relative;
        z-index: 1;
        background-color: transparent !important;
        

        .signup-subheader {

                color: white;
        }

        .existing-account-link a {

            color: white;
        } 

        .book-now-signup .form-field {

            border-bottom: none;
            padding-left: 30px;
        }

        .v1-icon-caret-right {

            color: white;
        }
    }
}