.our-mission__body {

	// Covers mobile and desktop

	width: 50%;

	@media only screen and (min-width: 1024px) {

		width: 40%;
	}

}

@media only screen and (min-width: 768px) {
	
	.landing-pages--about-us .why-homepolish {

		margin: 0;

		.text__wrapper {

			width: 80%;
		}

	}
}




.our-promise {

	padding: 0;

	@media only screen and (min-width: 768px) {

		div {

			width: 50%;

			&:first-child {

				padding: 0 25px 0 0;
			}
			&:last-child {

				padding: 0 0 0 25px;
			}
		}	
	}
}


.ctas {

	@media only screen and (min-width: 768px) {

		max-width: 800px;
		margin: 0 auto !important;
	}

	.cta {

		@media only screen and (min-width: 768px) {

			&:first-child {

				padding-right: 25px;
			}
			&:last-child {

				padding-left: 25px;
			}
		}
	}

	.formatted-copy--mobile-tablet {

		@media only screen and (max-width: 768px) {

			display: inline-block;
			width: 50%;
		}
	}
}