.landing-pages--concierge {

	.partners-header {

		//width: 75%;

		.formatted-copy--mobile {

			display: inline-block;
			width: 75%;
		}
		.formatted-copy--tablet-desktop {

			display: inline-block;
			margin: 0 auto;
			width: 40%;

		}
	}

	 .about-us {

	 	.item-body {

	 		width: 75%;
	 		display: inline-block;

	 		@media only screen and (min-width: 768px) {

	 			width: 100%;
	 		}
	 	}
	 }
}