
@media only screen and (min-width: 1640px) {
	.container {
		width: 1440px;
	}
	.slide-content {
		max-width: 1440px;
	}
	
}
@media only screen and (max-width: 1641px) {
	.whr-whn-wrp { padding-right: 50px}
	
}
@media only screen and (max-width: 1540px) {
	/* .image-wll {max-width: 40%;left: -10%;} */
	.slide-img {
		max-width: 60%;
	}
	.slide-cont-inn {
		bottom: 50px;
	}
}

@media only screen and (max-width:1392px) {
	.slide-content {
		max-width: 1024px;
	}
	.heading {
		font-size: 154.26px;
		line-height: 185.68px;
	}
}

@media only screen and (max-width:1199px) {
	.image-wll {left: -38%;}
	.well-descrp {  padding: 90px 80px 20px 0}
	.whr-whn-wrp { padding: 0px 100px 115px 0}
	.heding-well { font-size: 95px;}
	.events-wrap { padding: 250px 0 110px;}
}

@media only screen and (max-width:1192px) {
	.slide-content {
		max-width: 890px;
	}
}

@media only screen and (max-width: 991px) {
	/*Hero Wrap css Start*/
	.hero-wrap:before {
		background: rgba(61, 66, 61, .65);
		z-index: 0;
	}
	.slide-date-anim {
		left: auto;
		right: 0;
		top: 60px;
	}
	.slide-img {
		max-width: 100%;
	}
	.slide-date {
		font-size: 18px;
	}
	.slide-date:before {
		width: 185px;
		margin-right: 20px;
	}
	.slide-cont-inn {
		bottom: 90px;
		padding: 0 5px;
	}
	.heading {
		font-size: 96px;
		line-height: 96px;
	}
	.h-polish-logo {
		display: block;
		width: 500px;
	}
	.h-polish-logo img {
		width: 100%;
	}
	.at {
		font-size: 25.51px;
		padding: 10px 25px 0;
	}
	.ave-logo {
		max-width: 155px;
		display: inline-block;
		margin: 10px 0;
	}
	.ave-logo img {
		width: 100%;
	}
	/*Hero Wrap css End*/
	/*well Design Css Start*/
	.well-design-wrap {
		padding-top: 50px;
	}
	.heding-well {
		font-size: 48px;
		line-height: 52px;
	}
	.well-descrp {
		padding: 48px 0 15px;
	}
	.well-descrp p {
		font-size: 20.5px;
		line-height: 26.91px;
	}
	.whr-whn-wrp {
		padding: 0 0 105px 40px;
	}
	.whr-whn-wrp>div {
		padding: 0;
		display: block;
	}
	.image-wll { max-width: 50%; bottom: -80px; left: -18%}
	.well-design-wrap .col-md-8 { padding-left: 37%}
	.wts-hpn-anim {
		right: -60px;
		top: calc(100% - 40px);
	}
	.wts-hpn {
		font-size: 18px;
		line-height: 21.5px;
	}
	.wts-hpn:before {
		width: 185px;
		margin-right: 20px;
	}
	.whr-whn-wrp>div label {
		font-size: 28.19px;
		line-height: 30.36px;
	}
	.whr-whn-wrp>div p {
		font-size: 17.35px;
		line-height: 38.31px
	}
	/*well Design Css End*/
	/*Events Wrap Css Start*/
	.events-wrap {
		padding: 150px 0 70px 0;
	}
	.head-cnt-anim {
		position: static;
		max-width: 260px;
	}
	.head-cnt-anim .head-cnt {
		font-size: 48px;
		line-height: 58px;
		transform: none;
		padding: 0 15px;
	}
	.event-desc-lft,
	.event-desc-right {
		display: block;
		width: 100%;
		padding: 0;
	}
	.event-desc-right {
		font-size: 16px;
	}
	.feat-list li:before { top: 9px}
	.event-cont {}
	.evt-date {
		font-size: 32px;
		margin: 60px 0 40px 0;
		padding-bottom: 20px;
	}
	.time-event {
		margin-bottom: 23px;
		font-size: 19px;
		line-height: 21.14px;
	}
	.event-desc-right p,
	.event-desc-right .event-feat>span,
	.event-desc-right .event-feat ul {
		margin-bottom: 20px;
	}
	.event-row {
		margin-bottom: 80px;
		padding: 0 0 0 20px;
	}
	.d-mob {
		display: inline;
	}
	.ic {
		display: none;
	}
	.event-desc-right .event-feat a.rsvp {
		text-decoration: underline;
		font-size: 19px;
		line-height: 23.7px;
		letter-spacing: 2px;
	}
	/*Events Wrap Css End*/
	
	.image-wll .img-responsive { height: 610px;}
	
}
@media only screen and (max-width: 767px) {

	/*Signup Wrap Css Start*/
	.sign-up-wrap {
		padding: 80px 0;
	}
	.sign-box {
		padding: 65px 45px;
		padding: 60px;
		max-width: 500px;
	}
	.sign-box h1 {
		font-size: 26px;
		line-height: 28px;
		margin: 0 0 13px 0;
	}
	.sign-box p {
		font-size: 16px;
		line-height: 18px;
		margin: 0 0 22px 0;
	}
	.sign-box .btn-sgnup {
		font-size: 13px;
		max-width: 130px;
		height: 40px;
		line-height: 40px;
	}
	
	/*Signup Wrap Css End*/
	.event-box + .event-box { padding-top: 15px}

}
@media only screen and (max-width: 700px) {
	.image-wll .img-responsive {
		height: inherit;
		-o-object-fit: inherit;
		object-fit: inherit;
	}
	.well-design-wrap .col-md-8 {padding-left: 25px;}
	.image-wll {
		position: relative;
		left: 0;
		max-width: 70%;
		bottom: -40px;
		margin-bottom: -50px;
	}
	.whr-whn-wrp { padding: 0 0 0 40px}

}
@media only screen and (max-width: 591px) {
	.at { line-height: 1.2; font-size: 22px;}
	
	.heading {
		font-size: 96.89px;
		line-height: 96.89px;
		padding-left: 10px;
		padding-top: 15px;
	}
	.slide-cont-inn {
		bottom: 45px;
		max-width: 100%;
	}
	.well-design-wrap {
		padding-top: 38px;
	}
	.heding-well {
		font-size: 48px;
		line-height: 58px;
		padding: 0 10px;
	}
	.well-descrp {
		padding: 28px 10px;
	}
	.slide-date:before {
		width: 185px;
	}
	.slide-img .img-responsive {
		opacity: 0;
		display: none;
	}
	.slide-content {
		min-height: 607px;
		background: url(../images/slide.jpg) center left / cover;
		position: relative;
	}
	.h-polish-logo,

	.whr-whn-wrp>div {
		margin-top: 30px;
	}
	.whr-whn-wrp small {
		font-size: 11px;
		top: -4px;
	}
	.whr-whn-wrp>div p {
		margin-top: 5px;
	}
	.wts-hpn-anim {
		top: calc(100% - 60px);
	}
	.image-wll {
		left: 0;
	}
	.slide-content:after {
		background: #3d423d;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		content: "";
		height: 100%;
		width: 100%;
		z-index: 1;
		display: block;
		opacity: 0.65;
	}
	.slide-date-anim {
		z-index: 9;
	}
	.slide-img {
		display: none;
	}
	.evt-date {
		margin: 44px 0 40px 0;
	}
	.head-cnt-anim {
		max-width: 100%;
	}
	.head-cnt-anim .head-cnt {
		padding: 0 25px;
	}
	.evt-date {
		margin: 44px 0 37px 0;
	}
	.event-cont {
		padding: 0 25px;
	}
	.title-event {
		margin-bottom: 21px;
		font-size: 19px;
		line-height: 23px;
	}
	.time-event {
		margin-bottom: 19px;
	}
	.event-desc-right p,
	.event-desc-right .event-feat>span,
	.event-desc-right .event-feat ul {
		margin-bottom: 15px;
	}
	.event-desc-right .event-feat ul {
		margin-left: 0;
	}
	.event-row {
		padding: 0 0 0 18px;
	}
	.events-wrap {
		padding: 150px 0 61px 0;
	}
	.sign-box p { letter-spacing: .2px}
	.sign-box {
		padding: 65px 40px;
		padding:30px 20px;
		margin: 0 10px;
	}
	.hero-wrap:before {
		display: none;
	}
}

@media only screen and (max-width: 390px) {
	.heding-well { font-size: 40px; line-height: 50px;}
	.at { font-size: 18px;padding: 10px 15px 0;}
	
}