.blog-section {
	margin: 55px 0;

	& + .sidebar {
		padding-left: 15px;
		margin: 0 0 55px 0;
		@media only screen and (min-width: $break-small) {
			padding-left: 45px;
			margin-top: 55px;
		}
	}
}
.blog_nav {
	margin-top: 55px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.1rem;
	@extend .cf;
	a {
		line-height: 18px;
		color: $color1;
	}
	.fa {
		font-size: 1.8rem;
		position: relative;
		vertical-align: middle;
		top: -1px;
	}
	.next {
		float: left;

		.fa {
			margin-right: 15px;
		}
	}
	.prev {
		float: right;

		.fa {
			margin-left: 15px;
		}
	}
}
.sidebar {
	border-left: 1px solid $grey_fifth;

	@media only screen and (min-width: $break-medium) {
		padding: 0;
	}

	.sidebar_inner {
		background: #fff;
		padding: 0 20px;
		height: auto !important;
		.post-detail-style2 & {
			padding: 20px;
		}
	}
	.post-detail-row & {
		display: none;

		@media only screen and (min-width: $break-medium) {
			display: block;
		}
	}

	@media (min-width: $break-small) and (max-width: $break-large) {
		padding-top: 70px;
	}
}
.widget {
	font-size: 0px;
	padding:  0 20px 30px 20px;
	margin-bottom: 30px;
	border-bottom: 1px solid #dedede;

	&:last-child {
		border-bottom: none;
		margin-bottom: 0px;
	}

	h6.title {
		@extend .dashed;
	}

	ul {
		margin: 0;
		li {
			display: inline-block;
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				border-bottom: 0;
				padding-bottom: 0;
			}

			#footer & {
				border-color: rgba(255,255,255,0.1);
			}
		}
		&.menu {
			.current-menu-item>a {
				color: $color2;
			}

			.sub-menu {
				margin-top: 15px;
				padding-top: 15px;
				padding-left: 10px;
				border-top: 1px solid #eeeeee
			}
		}
	}

	&.widget_signup_widget {
		text-align: center;

		&.logged-out {
			visibility: hidden; // Hidden initially
		}

		.v1-icon-logo {
			display: inline-block;
			margin-bottom: 8px;

			&:before { font-size: 64px; }
		}

		.title {
			margin-bottom: 10px;

			font-size: 2.4rem;
		}

		.small { color: $grey_first; }

		h6 {
			margin-top: 15px;

			.v1-icon-caret-right:before { font-size: 1.2rem; }
		}
	}

	&.widget_socialnewsletter {
		text-align: center;

		.social-title {
			p,
			h6 {
				display: inline-block;

				color: $black;
			}

			h6 { margin: 0 0 0 4px; }
		}

		.social-count-cont {
			margin: 60px 0 30px 0;
			padding-bottom: 20px;
			border-bottom: 1px solid $grey_fifth;

			li {
				margin: 8px;

				a {
					position: relative;

					[class*="v1-icon-"] {
						color: inherit; // Make sure hover states are the right color

						&:before { font-size: 22px; }
					}

					.count {
						@include triangle-drop(5, $grey_fifth);

						position: absolute;
						top: -66px;
						right: -5px;
						padding: 10px 0px;
						border: 1px solid $grey_fifth;
						width: 45px;
						line-height: 1;

						color: $black;
					}
				}
			}
		}

		.newsletter-subscribe-container {
			> h6 { margin-bottom: 20px; }

			.newsletter-form-wrapper {
				padding: 0 20px;
				width: 100%;
			}

			.newsletter-signup-input {
				background-color: white;
				border: 1px solid #f2f2f2;
				font-family: "sabon-next-italic", "Times New Roman", Times, serif;
				font-size: 13px;
				padding: 7px 12px 8px 12px;
				width: 75%;

				&:focus {
				  border-color: $black;
				  outline: 0;
				}
			}

			.btn {
				border: 0;
				min-height: 36px;
				font-size: 10px;
				letter-spacing: 1.6px;
				padding: 10px;
				width: 25%;
			}
		}

		@media only screen and (max-width: $break-small) {
			.social-count-cont { border-bottom: 0px; }
			.newsletter-subscribe-container { display: none; }
		}
	}

	&.widget_image_link {
		text-align: center;

		a {
			display: inline-block;
		}
	}
}
