@font-face {
  font-family: 'avenir-next-demi-bold';
  src: url("https://www.homepolish.com/cdn/fonts/Avenir/avenir-next-demi-bold.eot?iefix") format('embedded-opentype'),
       url("https://www.homepolish.com/cdn/fonts/Avenir/avenir-next-demi-bold.woff2") format('woff2'),
       url("https://www.homepolish.com/cdn/fonts/Avenir/avenir-next-demi-bold.woff") format('woff'),
       url("https://www.homepolish.com/cdn/fonts/Avenir/avenir-next-demi-bold.ttf") format('truetype'),
       url("https://www.homepolish.com/cdn/fonts/Avenir/avenir-next-demi-bold.svg#myfont") format('svg');
}

@font-face {
  font-family: 'avenir-next-medium';
  src: url("https://www.homepolish.com/cdn/fonts/Avenir/avenir-next-medium.eot?iefix") format('embedded-opentype'),
       url("https://www.homepolish.com/cdn/fonts/Avenir/avenir-next-medium.woff2") format('woff2'),
       url("https://www.homepolish.com/cdn/fonts/Avenir/avenir-next-medium.woff") format('woff'),
       url("https://www.homepolish.com/cdn/fonts/Avenir/avenir-next-medium.ttf") format('truetype'),
       url("https://www.homepolish.com/cdn/fonts/Avenir/avenir-next-medium.svg#myfont") format('svg');
}

@font-face {
  font-family: 'avenir-next-medium-italic';
  src: url("https://www.homepolish.com/cdn/fonts/Avenir/avenir-next-medium-italic.eot?iefix") format('embedded-opentype'),
       url("https://www.homepolish.com/cdn/fonts/Avenir/avenir-next-medium-italic.woff2") format('woff2'),
       url("https://www.homepolish.com/cdn/fonts/Avenir/avenir-next-medium-italic.woff") format('woff'),
       url("https://www.homepolish.com/cdn/fonts/Avenir/avenir-next-medium-italic.ttf") format('truetype'),
       url("https://www.homepolish.com/cdn/fonts/Avenir/avenir-next-medium-italic.svg#myfont") format('svg');
}

@font-face {
  font-family: 'miller-display';
  src: url("https://www.homepolish.com/cdn/fonts/Miller/miller-display.eot?iefix") format('embedded-opentype'),
       url("https://www.homepolish.com/cdn/fonts/Miller/miller-display.woff2") format('woff2'),
       url("https://www.homepolish.com/cdn/fonts/Miller/miller-display.woff") format('woff'),
       url("https://www.homepolish.com/cdn/fonts/Miller/miller-display.ttf") format('truetype'),
       url("https://www.homepolish.com/cdn/fonts/Miller/miller-display.svg#myfont") format('svg');
}

@font-face {
  font-family: 'sabon-next';
  src: url("https://www.homepolish.com/cdn/fonts/Sabon/sabon-next.eot?iefix") format('embedded-opentype'),
       url("https://www.homepolish.com/cdn/fonts/Sabon/sabon-next.woff2") format('woff2'),
       url("https://www.homepolish.com/cdn/fonts/Sabon/sabon-next.woff") format('woff'),
       url("https://www.homepolish.com/cdn/fonts/Sabon/sabon-next.ttf") format('truetype');
}

@font-face {
  font-family: 'sabon-next-italic';
  src: url("https://www.homepolish.com/cdn/fonts/Sabon/sabon-next-italic.eot?iefix") format('embedded-opentype'),
       url("https://www.homepolish.com/cdn/fonts/Sabon/sabon-next-italic.woff2") format('woff2'),
       url("https://www.homepolish.com/cdn/fonts/Sabon/sabon-next-italic.woff") format('woff'),
       url("https://www.homepolish.com/cdn/fonts/Sabon/sabon-next-italic.ttf") format('truetype');
}

@font-face {
  font-family: 'sabon-next-bold';
  src: url("https://www.homepolish.com/cdn/fonts/Sabon/sabon-next-bold.eot?iefix") format('embedded-opentype'),
       url("https://www.homepolish.com/cdn/fonts/Sabon/sabon-next-bold.woff2") format('woff2'),
       url("https://www.homepolish.com/cdn/fonts/Sabon/sabon-next-bold.woff") format('woff'),
       url("https://www.homepolish.com/cdn/fonts/Sabon/sabon-next-bold.ttf") format('truetype');
}

@font-face {
  font-family: 'sabon-next-display';
  src: url("https://www.homepolish.com/cdn/fonts/Sabon/sabon-next-display.eot?iefix") format('embedded-opentype'),
       url("https://www.homepolish.com/cdn/fonts/Sabon/sabon-next-display.woff2") format('woff2'),
       url("https://www.homepolish.com/cdn/fonts/Sabon/sabon-next-display.woff") format('woff'),
       url("https://www.homepolish.com/cdn/fonts/Sabon/sabon-next-display.ttf") format('truetype');
}

@font-face {
  font-family: 'sabon-next-display-italic';
  src: url("https://www.homepolish.com/cdn/fonts/Sabon/sabon-next-display-italic.eot?iefix") format('embedded-opentype'),
       url("https://www.homepolish.com/cdn/fonts/Sabon/sabon-next-display-italic.woff2") format('woff2'),
       url("https://www.homepolish.com/cdn/fonts/Sabon/sabon-next-display-italic.woff") format('woff'),
       url("https://www.homepolish.com/cdn/fonts/Sabon/sabon-next-display-italic.ttf") format('truetype');
}
