a {
  color: $accent;
  outline: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // @extend .transition;

  &:hover, &:active, &:focus {
    color: $black;
  }

  &.secondary, &.tertiary {
    color: $black;
    text-decoration: underline;
    &:hover, &:active, &:focus { color: $accent; }
  }

  &.tertiary { text-decoration: none; }

  &.de-emphasize {
    color: $grey_second;
  }
}

// A button that thinks it's a link
.btn-link {
  @extend a;

  background: none;
  border: none;
  display: inline;
  font: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
}
